{{> layout/header}}

<section>
    <form action="/board/{{model.id}}/update" method="post" enctype="application/x-www-form-urlencoded">
        <input type="text" value="{{model.id}}" readonly="true"><br>
        <input type="text" name="title" value="{{model.title}}"><br>
        <input type="text" name="content" value="{{model.content}}"><br>
        <input type="text" value="{{model.createdAt}}" readonly="true"><br>
        <button type="submit">글수정하기</button>
    </form>
</section>

</body>
</html>